


.header{
    font-family: Luminari, fantasy;
    font-size: 50px;
    background-color: black;
    color: darkred;
    text-align: center;
}

.under{
    font-family: Luminari, fantasy;
    font-size: 30px;
    text-align: center;
    background-color: darkred;
}

h3{
    font-family: Chalkduster;
    font-size: 25px;
    text-align: center;
    background-color: darkred;
    
}

p{
    font-family: Chalkduster;
    font-size: 25px;
    color:honeydew;
    text-align: center;
    background-color: rgba(145, 5, 5, .6);
    padding: 10px;
}
#smile{
    text-align: center;
    background-color: black;
    opacity: .80;
    height: 200px;
}
.smile{
    background-color: black;
    opacity: .7;
}